<h3>Sample schema</h3>

<div class="container ">
    <label>label </label><input type="checkbox" ng-model="all_label" ng-change="switch_label()" id="ng-change-example1" />
  <!--input type="checkbox" ng-model="all_label" id="ng-change-example2" /-->

  <label> between_object_space_x </label><input type="textbox" ng-model="test_x" ng-change="drawSchema()"/>
  <label>changed value : </label>{{test_x}}
  <!--input type="checkbox"  ng-model="test_x" ng-change="removeSchema()" id="ng-change-example1" /-->

<!--label>Label  <input type="checkbox" ng-model="all_label" ng-change= "switch_label()" value="all_label"></label><br/>
    <input id="checkSlave" type="checkbox" ng-checked="all_label" aria-label="Slave input"-->
        <!--svg width="50" height="50">
      <polygon fill="yellow" stroke="blue" stroke-width="2"
        points="05,30
                15,10
                25,30" />
    </svg-->
</div>
